params {
    no_file = "$projectDir/assets/NO_FILE"
    input_csv = "/mnt/d/TESTING_SPACE/EGAP_test.csv"
    output_dir = "/mnt/d/TESTING_SPACE/nextflow_test/"
    cpu_threads = 12
    ram_gb = 40
}

process {
    cpus = "${params.cpu_threads}"
    memory = "${params.ram_gb} GB"
    executor = 'local'
    container = 'entheome.sif'
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '--bind /mnt/d:/mnt/d'  // CHANGE THIS IF YOU HAVE DIFFERENT DRIVE NAME CONTAINING DATA
}

profiles {
    local {
        process.executor = 'local'
    }
    slurm {
        process.executor = 'slurm'
        process.queue = 'normal'
    }
    singularity {
        process.executor = 'local'
    }
}