params {
    no_file = "$projectDir/assets/NO_FILE"
    ont_sra = None
    raw_ont_dir = None
    ont_reads = None
    illu_sra = None
    raw_illu_dir = None
    raw_illu_reads_1 = None
    raw_illu_reads_2 = None
    pacbio_sra = None
    raw_pacbio_dir = None
    raw_pacbio_reads = None
    species_id = None
    organism_kingdom = "Funga"
    organism_karyote = "eukaryote"
    compleasm_1 = "basidiomycota"
    compleasm_2 = "agaricales"
    estimated_genome_size = "50m"
    reference_sequence = None
    reference_sequence_gca = None
    percent_resources = 1.0
    cpu_threads = 10
    ram_gb = 42
}

process {
    cpus = params.cpu_threads
    memory = "${params.ram_gb} GB"
    executor = 'local'
    container = '/bin/entheome.sif'
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '--bind /mnt/d:/mnt/d'  // CHANGE THIS IF YOU HAVE DIFFERENT DRIVE NAME CONTAINING DATA
}

profiles {
    local {
        process.executor = 'local'
    }
    slurm {
        process.executor = 'slurm'
        process.queue = 'normal'
    }
    singularity {
        process.executor = 'local'
    }
}